# 忽略文件夹
.vs/
/bin/
/obj/
/.idea/

# 忽略文件
*.suo
*.user
*.bak
*.tmp
*.cache
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.sln.docstates
*.pdb
*.ilk
*.meta

# 编译生成的文件
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_tmp
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
